<!DOCTYPE html>
<html>
<head>
    <title>[% title %]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="atom.xml" rel="alternate" title="[% plerd.title %]" type="application/atom+xml">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="recent.html">[% plerd.title %]</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="archive.html">Archive</a></li>
                    <li><a href="atom.xml">Atom</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <div class="container">
        [% content %]
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style>
        .page-header h1 {
            padding-top: 1px;
            display: inline-block; /* required for webkit browsers */
        }
        .page-header h1 :link {
            color: black;
        }
    </style>
    </body>
</html>